.add-products {
  position: relative;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 86px;
  }
}

.add-products__list {
  @include nolist();

  @media (min-width: $desktop-width) {
    margin-right: 40px;
  }
}

.add-products__item {
  padding: 14px 0 17px 0;
  border-bottom: $border-gray;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 28px 37px;
    width: 708px;
    border: $border-gray;
  }

  @media (min-width: $desktop-width) {
    width: 895px;
    padding: 15px 0 16px 0;
    margin: 0;
    border-top: $border-gray;
    border-left: none;
    border-right: none;
  }
}

.add-products__name {
  margin: 0;
  padding: 0;
  font-family: $additional-font;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: $gray-darkest;

  @media (min-width: $tablet-width) {
    margin: 0 0 26px 0;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 220px;
    padding-top: 12px;
    margin: 0;
  }
}

.add-products__value {
  display: flex;
  justify-content: space-between;
  padding: 15px 0 14px 0;
  margin: 0;
  line-height: 14px;

  @media (min-width: $tablet-width) {
    align-items: flex-end;
    margin-top: 0;
    margin-bottom: 26px;
    padding: 0;
    width: 230px;
  }

  @media (min-width: $desktop-width) {
    align-items: center;
    width: 270px;
    margin: 0;
  }
}

.add-products__weight {
  @media (min-width: $tablet-width) {
    width: 140px;
    text-align: right;
    margin-right: 43px;
  }

  @media (min-width: $desktop-width) {
    width: 220px;
    text-align: left;
    margin-right: 0;
  }
}

.add-products__subtitle {
  margin: 0;
  padding: 31px 0 30px 0;
  font-family: $additional-font;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $gray-darken;
  border-bottom: $border-gray;

  @media (min-width: $tablet-width) {
    padding: 0 0 75px 37px;
    margin-top: -70px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    border: none;
  }

  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 45px;
    right: -24px;
    height: 3px;
    width: 21%;
    background-color: $apple;
    box-sizing: border-box;

    @media (min-width: $tablet-width) {
      top: 25px;
      left: 440px;
      width: 338px;
    }

    @media (min-width: $desktop-width) {
      top: -45px;
      left: 440px;
      width: 1238px;
    }
  }

  &::before {
    @media (min-width: $tablet-width) {
      content: "";
      display: inline-block;
      position: absolute;
      top: 25px;
      left: -5px;
      width: 38px;
      height: 3px;
      background-color: $apple;
      box-sizing: border-box;
    }

    @media (min-width: $desktop-width) {
      top: -45px;
      left: -295px;
      width: 300px;
    }
  }
}

.add-products__button {
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 13px 10px 12px 10px;
    width: 245px;
  }
}
