.add-products__list {
  @include nolist();
}

.add-products__name {
  font-family: $additional-font;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: $gray-darkest;
}

.add-product__value {
  line-height: 14px;
}
