.add-products {
  position: relative;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 86px;
  }
}

.add-products__list {
  @include nolist();

  @media (min-width: $desktop-width) {
    margin-right: 40px;
  }

  &:first-of-type {
    @media (min-width: $desktop-width) {
      border-top: $border-gray;
    }
  }
}

.add-products__item {
  padding: 14px 0 17px 0;
  border-bottom: $border-gray;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 28px 37px;
    border-left: $border-gray;
    border-right: $border-gray;
  }

  @media (min-width: $desktop-width) {
    width: 895px;
    padding: 15px 0 16px 0;
    margin: 0;
    border-left: none;
    border-right: none;
  }
}

.add-products__name {
  margin: 0;
  padding: 0;
  font-family: $additional-font;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: $gray-darkest;

  @media (min-width: $tablet-width) {
    margin: 0 0 26px 0;
    font-size: 20px;
    line-height: 20px;
    width: 140px;
  }

  @media (min-width: $desktop-width) {
    width: 305px;
    padding-top: 12px;
    margin: 0;
  }
}

.add-products__value {
  display: flex;
  justify-content: space-between;
  padding: 15px 0 14px 0;
  margin: 0;
  line-height: 14px;

  @media (min-width: $tablet-width) {
    align-items: flex-end;
    margin-top: 0;
    margin-bottom: 26px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    align-items: center;
    margin: 0;
  }
}

.add-products__weight {
  @media (min-width: $tablet-width) {
    width: 140px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    width: 250px;
    text-align: left;
    margin-right: 0;
  }
}

.add-products__price {
  @media (min-width: $tablet-width) {
    width: 140px;
    text-align: right;
    margin-right: 43px;
  }

  @media (min-width: $desktop-width) {
    width: 50px;
    text-align: left;
    margin-right: 0;
  }
}

.add-products__subtitle {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 31px 20px 30px 0;
  vertical-align: baseline;
  font-family: $additional-font;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $gray-darken;
  border-bottom: $border-gray;
  background-color: $white;

  @include greenline;

  @media (min-width: $tablet-width) {
    padding: 0 37px 75px 37px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 37px 75px -37px;
    border: none;
  }
}

.add-products__button {
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 13px 10px 12px 10px;
    width: 245px;
  }
}
