.benefits {
  padding: 0;
  outline: $temporarily; /*временная рамка*/
}

.benefits__list {
  @include nolist();

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
  }
}

.benefits__subtitle {
  @include subtitle();
}

.benefits__item {
  @media (min-width: $tablet-width) {
    width: 325px;
    padding-right: 100px;
    margin-bottom: 89px;
  }

  &:not(:nth-child(4n)) {
    @media (min-width: $desktop-width) {
      margin-right: 100;
    }
  }

  &:nth-child(4n) {
    @media (min-width: $desktop-width) {
      margin-right: 0;
    }
  }
}
