.bonus {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
  margin-top: 39px;
  margin-bottom: 35px;
  width: 100%;
  min-height: 298px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $white;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-color: $apple;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-around;
    min-height: 200px;
    margin-top: 69px;
    margin-bottom: 76px;
    padding: 75px 125px 69px 91px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    background-size: contain;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    width: 245px;
    margin: 0;
    padding: 65px 43px 43px 43px;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    background-size: cover;
    min-height: 289px;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }
}

.bonus__text {
  display: inline-block;
  margin: 0;
  padding: 64px 10px 43px 10px;
  width: 169px;

  @media (min-width: $tablet-width) {
    text-align: left;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}

.bonus__svg {
  width: 56px;
  height: 61px;
  fill: $white;

  @media (min-width: $tablet-width) {
    margin-left: -120px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}
