.button {
  display: inline-block;
  width: 280px;
  padding: 14px 15px 11px 15px;
  font-family: "Oswald", sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  background-color: $apple;
  border-style: none;

  &:hover,
  &:focus {
    background-color: $grass;
  }

  &:active {
    color: $white-30;
  }

  &_gray {
    color: $gray;
    background-color: $gray-light;

    &:hover,
    &:focus {
      background-color: $gray-lighten;
    }

    &:active {
      color: $gray-30;
    }
  }

  @media (min-width: $tablet-width) {
    width: 249px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
    padding-left: 12px;
    padding-bottom: 16px;
  }
}
