.button {
  min-width: 280px;
  padding: 14px 15px 11px 15px;
  font-family: "Oswald", sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  background-color: $apple;
  border-style: none;
}

.button_grey {
  color: $gray-light;
  background-color: $gray-lighten;
}
