.copyright {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    display: flex;
    align-self: center;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
  }
}

.copyright__text {
  color: $gray;
  text-decoration: none;

  @media (min-width: $desktop-width) {
    margin-right: 23px;
  }

  &:active {
    color: $gray-30;
  }
}
