.example {
  padding-top: 33px;
  padding-bottom: 39px;
  outline: $temporarily; /*временная рамка*/
  background-color: $gray-light;
}

.example__title {
  margin: 0;
  padding: 0;

  @include subtitle();
}

.example__list {
  @include nolist();

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.example__item {
  margin-right: 32px;

  @media (min-width: $tablet-width) {
    margin-right: 42px;
  }
}

.example__value {
  font-family: $additional-font;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: $gray-darken;
}

.example__parametr {
  font-size: 12px;
  line-height: 12px;
}

.example__cost {
  font-family: $additional-font;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $gray-darken;

  @media (min-width: $tablet-width) {
    text-align: right;
  }
}

.example__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 430px;
  }
}

.example__wrapper--desktop {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}
