.info {
  line-height: 20px;
  margin-top: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.info__text {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 28px 23px 27px 19px;
  background-color: $white;

  @media (min-width: $tablet-width) {
    padding: 70px 70px 58px 73px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    flex-wrap: wrap;
    top: 95px;
    left: 40px;
    width: 570px;
    padding-top: 80px;
    padding-right: 75px;
    padding-bottom: 59px;
    padding-left: 76px;
    background-color: $white;
  }

  &--form {
    padding-top: 29px;
    background-color: $gray-light;

    @media (min-width: $tablet-width) {
      padding-top: 82px;
      padding-right: 71px;
      padding-left: 71px;
      margin: 0;
    }

    @media (min-width: $desktop-width) {
      background-color: $white;
      padding-top: 78px;
      padding-left: 75px;
      left: 40px;
    }
  }

  &--catalog {
    background-color: $gray-light;

    @media (min-width: $tablet-width) {
      padding-top: 78px;
      padding-right: 72px;
      padding-bottom: 58px;
      padding-left: 71px;
    }

    @media (min-width: $desktop-width) {
      background-color: $white;
      left: 44px;
      top: 97px;
    }
  }
}

.info__slogan {
  margin: 0 16px 0 0;
  width: 124px;
  font-family: $additional-font;
  font-size: 16px;
  color: $gray-darken;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: -15px 16px 0 0;
    width: 154px;
    font-size: 20px;
    line-height: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 48px;
    line-height: 25px;
    width: 155px;
  }
}

.info__adress {
  margin: 0;
  width: 135px;

  @media (min-width: $tablet-width) {
    width: 155px;
    margin: -17px 0 0 33px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    width: 205px;
    margin-top: -76px;
    padding-left: 34px;
    margin-left: 216px;
    text-align: left;
  }

  &--spb {
    margin-top: -20px;
    margin-left: 142px;

    @media (min-width: $tablet-width) {
      margin: -16px 0 0 499px;
    }

    @media (min-width: $desktop-width) {
      margin-top: -17px;
      margin-left: 250px;
      padding-left: 0;
    }
  }
}
