.main-nav {
  min-width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: flex;
  }
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.main-nav__list {
  width: 565px;


  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: flex-end;
  }

  @include nolist();
}

.main-nav__toggle {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
