.main-nav {
  /* Временно для сетки */
  width: 320px;
  margin: 0 auto;
  min-height: 65px;
  @include nolist();

  @media (min-width: $tablet-width) {
  .main-nav {
    margin: 0;
    width: auto;
  }

  .main-nav__wrapper {
     display: flex;
     justify-content: space-between;
     width: 739px;
     margin: 0 auto;
     outline: $temporarily; /*временная рамка*/
   }

   .site-list {
    width: 565px;
    /* Временно для сетки */
    min-height: 59px;
  }
 }

  @media (min-width: $desktop-width) {
  .main-nav__wrapper {
  }
 }
}
.main-nav__list {
  @include nolist();
}
