.page-form {
  position: relative;
}

.page-form__title {
  @include subtitle();
  margin: 0;
  padding: 30px 0 0 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.page-form__text {
  margin: 0 0 39px 0;
  padding: 0;
  width: 226px;
  font-family: $additional-font;
  text-align: left;
  text-transform: uppercase;
  color: $gray-darken;

  @media (min-width: $tablet-width) {
    margin: 0 0 69px 0;
    font-size: 20px;
    line-height: 30px;
    width: 342px;
  }

  @media (min-width: $desktop-width) {
    margin: 53px 0 0 0;
  }
}


.page-form__wrapper {
  padding-top: 35px;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-top: 53px;
    padding-right: 67px;
    padding-left: 38px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0;
  }
}
