.page-header {
  outline: $temporarily; /*временная рамка*/

  @media (min-width: $tablet-width) {
    display: flex;
  }
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.page-header__logo {
  height: 39px;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    height: 60px;
  }
}
