.page-footer {
  padding-top: 31px;
  color: $gray;
  background-color: $gray-light;
  outline: $temporarily; /*временная рамка*/

  @media (min-width: $tablet-width) {
    padding-top: 69px;
  }
}

.page-footer__copyright {
  text-decoration: none;
}

.page-footer__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 64px 30px 62px 31px;
  }
}
