.page-header {
  padding-top: 11px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding-top: 0;
  }

  &--form {
    padding-top: 14px;

    @media (min-width: $tablet-width) {
      padding-top: 34px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 1px;
    }
  }
}


.page-header__logo {
  height: auto;

  @media (min-width: $tablet-width) {
    display: flex;
    margin: -10px 0 0 0;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    margin: 53px 0 0 -55px;
  }
}

.page-header__logo-image {
  width: 191px;
  height: auto;

  @media (min-width: $tablet-width) {
    width: 174px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 54px;
    width: 203px;
  }
}

.page-header__mobile {
  padding-bottom: 13px;
}
