.page-footer {
  padding: 31px 25px 31px 20px;
  color: $gray;
  background-color: $gray-light;
  outline: $temporarily; /*временная рамка*/
}

.page-footer__copyright {
  text-decoration: none;
}

.page-footer__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
