.page-footer {
  width: 320px;
  margin: 0 auto;
  padding: 31px 25px 31px 20px;
  color: $gray;
  background-color: $gray-light;
  outline: $temporarily; /*временная рамка*/
}

.page-footer__copyright {
  text-decoration: none;
}
