.page-form {
  position: relative;

  @media (min-width: $tablet-width) {
    padding-right: 67px;
    padding-left: 38px;
  }
}

.page-form__wrapper {
  padding: 35px 0 0 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding: 53px 0 0 38px;
  }

  @media (min-width: $desktop-width) {
    padding: 53px 0 0 0;
  }
}

.page-form__title {
  @include subtitle();
  margin: 0;
  padding: 30px 0 0 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.page-form__text {
  margin: 0 0 39px 0;
  padding: 0;
  width: 226px;
  font-family: $additional-font;
  text-align: left;
  text-transform: uppercase;
  color: $gray-darken;

  @media (min-width: $tablet-width) {
    margin: 0 0 69px 0;
    font-size: 20px;
    line-height: 30px;
    width: 342px;
  }
}

.page-form__subtitle {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $gray-darken;
  text-transform: none;

  @media (min-width: $tablet-width) {
    margin: 69px 0 53px 0;
    font-size: 36px;
    line-height: 36px;
  }

  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    background-color: $apple;
    box-sizing: border-box;
  }

  &--contacts::after {
    top: 565px;
    right: -18px;
    height: 3px;
    width: 123px;

    @media (min-width: $tablet-width) {
      top: 840px;
      right: 0;
      width: 123px;
    }

    @media (min-width: $desktop-width) {
      top: 560px;
      left: 600px;
      width: 1238px;
    }
  }

  &--contacts::before {
    @media (min-width: $tablet-width) {
      content: "";
      display: inline-block;
      position: absolute;
      background-color: $apple;
      box-sizing: border-box;
      top: 840px;
      left: 5px;
      height: 3px;
      width: 40px;
    }

    @media (min-width: $desktop-width) {
      top: 560px;
      left: -305px;
      width: 300px;
    }
  }

  &--comment::after {
    top: 775px;
    left: 170px;
    height: 3px;
    width: 170px;

    @media (min-width: $tablet-width) {
      top: 1120px;
      left: 320px;
      width: 443px;
    }

    @media (min-width: $desktop-width) {
      top: 790px;
      left: 250px;
      width: 1348px;
    }
  }

  &--comment::before {
    @media (min-width: $tablet-width) {
      content: "";
      display: inline-block;
      position: absolute;
      background-color: $apple;
      box-sizing: border-box;
      top: 1120px;
      left: 5px;
      width: 40px;
      height: 3px;
    }

    @media (min-width: $desktop-width) {
      top: 790px;
      left: -305px;
      width: 300px;
    }
  }

  &--add::after {
    top: 995px;
    left: 180px;
    height: 3px;
    width: 153px;

    @media (min-width: $tablet-width) {
      top: 1470px;
      left: 350px;
      width: 423px;
    }

    @media (min-width: $desktop-width) {
      top: 1130px;
      left: 300px;
      width: 1323px;
    }
  }

  &--add::before {
    @media (min-width: $tablet-width) {
      content: "";
      display: inline-block;
      position: absolute;
      background-color: $apple;
      box-sizing: border-box;
      top: 1470px;
      left: 5px;
      width: 40px;
      height: 3px;
    }

    @media (min-width: $desktop-width) {
      top: 1130px;
      left: -305px;
      width: 300px;
    }
  }
}
