.production {
  padding: 31px 20px 25px 20px;
  outline: $temporarily; /*временная рамка*/
}

.production__subtitle {
  @include subtitle();
}

.production__list {
  @include nolist();

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.production__item {
  @media (min-width: $tablet-width) {
    width: 324px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.production__title {
  @include subtitle-production();
}

.production__table {
  font-size: 12px;
  line-height: 16px;
}
