.production__subtitle {
  @include subtitle();
  padding: 14px 0 29px 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    @include subtitle-tablet();
    padding: 40px 0 74px 0;
    margin-bottom: 91px;
  }

  @media (min-width: $desktop-width) {
    padding: 56px 0 75px 0;
  }
}

.production__list {
  @include nolist();

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.production__item {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 24px 0;
  border-top: $border-gray;

  @media (min-width: $tablet-width) {
    justify-content: center;
    margin-top: 0;
    margin-bottom: 150px;
    padding: 0 0 10px 0;
    width: 324px;
    background: $bg-example;
    border: none;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 148px;
    padding: 0 0 16px 0;
    width: 245px;
  }

  &:nth-child(odd) {
    @media (min-width: $tablet-width) {
      margin-right: 60px;
      margin-bottom: 150px;
      align-self: flex-end;
      background: $bg-example;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 100px;
      margin-right: 0;
    }
  }

  &:not(:nth-child(4n)) {
    @media (min-width: $desktop-width) {
      margin-right: 80px;
      margin-bottom: 145px;
    }
  }
}

.production__title {
  @include subtitle-production();

  width: 74px;
  padding: 25px 0 18px 0;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 23px 10px 20px 10px;
    width: 154px;
    text-align: center;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 28px 9px 19px 10px;
  }
}

.production__table {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 16px;
  margin: 0 0 0 -1px;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    padding-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 43px;
  }
}

.production__wrapper {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.production__value {
  width: 31px;
  margin-right: 63px;

  @media (min-width: $tablet-width) {
    padding: 8px 0 7px 4px;
    width: 145px;
    margin-right: 54px;
  }

  @media (min-width: $desktop-width) {
    width: 63px;
    padding: 8px 0 7px 3px;
  }
}

.production__field {
  text-align: right;
  width: 47px;

  @media (min-width: $tablet-width) {
    width: 55px;
  }
}

.production__line {
  display: flex;
  justify-content: space-between;
  margin-bottom: -2px;

  @media (min-width: $tablet-width) {
    border-bottom: $border-gray;
    align-items: center;
    margin-bottom: 0;
  }
}

.production__button {
  font-size: 16px;
  line-height: 20px;
  height: 40px;
  padding: 10px 6px 2px 7px;
  margin-top: -4px;

  @media (min-width: $tablet-width) {
    width: 249px;
    margin-top: -10px;
    margin-bottom: 24px;
    padding: 13px 0 13px 2px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
    height: 39px;
    padding: 10px 0 0 1px;
  }
}

.production__link {
  margin: -4px 0 -6px 0;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    margin: 1px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    margin: -1px 0 0 0;
  }
}

.production__image {
  width: 100%;
}
