.programs {
  outline: $temporarily; /*временная рамка*/
}

.programs__list {
  @include nolist();

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.programs__item {
  padding: 22px 36px 22px 20px;
  background-color: $gray-light;

  @media (min-width: $tablet-width) {
    padding: 80px 62px 62px 55px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    padding: 41px 56px 62px 53px;
  }

  &:nth-child(odd) {
    @media (min-width: $desktop-width) {
      margin-right: 80px;
    }
  }
}

.programs__title {
  padding: 0;
  margin: 0;
  font-family: $additional-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  color: $gray-darken;
}

.programs__link {
  font-family: $additional-font;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: $gray-darken;

  &:active {
    color: $black-30;
  }
}
