.programs__list {
  @include nolist();
  margin: 0 0 32px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 51px 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 79px 0;
  }
}

.programs__item {
  padding: 22px 20px 22px 20px;
  background-color: $gray-light;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 77px 62px 62px 55px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    margin-top: -15px;
    padding: 40px 56px 62px 53px;
  }

  &:nth-child(odd) {
    @media (min-width: $desktop-width) {
      margin-right: 80px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    left: 23px;
    top: 25px;
    width: 50px;
    height: 50px;
    background-image: url("../img/icon-cat-slim.svg");
    background-color: $apple;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      top: 92px;
      left: 447px;
      width: 200px;
      height: 200px;
    }

    @media (min-width: $desktop-width) {
      left: 52px;
      top: 47px;
      width: 100px;
      height: 100px;
    }
  }

  &--pro::before {
    background-image: url("../img/icon-cat-pro.svg");

    @media (min-width: $tablet-width) {
      top: 90px;
      left: 448px;
    }

    @media (min-width: $desktop-width) {
      top: 47px;
      left: 51px;
    }
  }
}

.programs__item--slim {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.programs__title {
  position: relative;
  padding: 9px 0 0 71px;
  margin: 0;
  font-family: $additional-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  color: $gray-darken;

  @media (min-width: $tablet-width) {
    padding: 0;
    font-size: 36px;
  }

  @media (min-width: $desktop-width) {
    padding: 37px 0 0 161px;
  }
}

.programs__description {
  margin: 0 0 19px 0;
  padding: 29px 0 23px 0;
  border-bottom: 1px solid $pinkish-gray;

  @media (min-width: $tablet-width) {
    padding: 24px 23px 38px 0;
    border: none;
    width: 400px;
  }

  @media (min-width: $desktop-width) {
    padding: 73px 0 36px 0;
    margin: 0;
    width: 470px;
    border: none;
  }

  &--pro {
    @media (min-width: $tablet-width) {
      padding: 23px 60px 38px 0;
      width: 404px;
    }

    @media (min-width: $desktop-width) {
      padding: 73px 48px 36px 0;
      width: 493px;
    }
  }
}

.programs__link {
  display: block;
  font-family: $additional-font;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: $gray-darken;
  background-image: url("../img/icon-right-arrow-long.svg");
  background-repeat: no-repeat;
  background-position: 100px 2px;
  background-size: 25px 12px;

  &:active {
    color: $black-30;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    background-position: 130px 4px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -5px;
    margin-left: -1px;
    background-position: 127px 4px;
  }
}
