.programs__list {
  @include nolist();
  margin: 0 0 32px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 51px 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 79px 0;
  }
}

.programs__item {
  padding: 22px 20px 22px 20px;
  background-color: $gray-light;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 80px 62px 62px 55px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    padding: 41px 56px 62px 53px;
  }

  &:nth-child(odd) {
    @media (min-width: $desktop-width) {
      margin-right: 80px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url("../img/icon-cat-slim.svg");
    background-color: $apple;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
  }

  &--pro::before  {
    background-image: url("../img/icon-cat-pro.svg");
  }
}

.programs__item--slim {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.programs__title {
  position: relative;
  padding: 0 0 0 70px;
  margin: 0;
  font-family: $additional-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  color: $gray-darken;

  @media (min-width: $tablet-width) {
    font-size: 36px;
  }
}

.programs__description {
  margin: 0 0 20px 0;
  padding: 24px 0 23px 0;
  border-bottom: 1px solid $pinkish-gray;

  @media (min-width: $tablet-width) {
    padding: 26px 23px 61px 0;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding: 45px 0 36px 0;
    margin: 0;
    border: none;
  }
}

.programs__link {
  font-family: $additional-font;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: $gray-darken;

  &:active {
    color: $black-30;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}
