// файл promo.scss
.promo {
  padding: 29px 17px 22px 18px;
  font-family: $additional-font;
  text-align: center;
  color: $white;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-color: $white;
  background-repeat: no-repeat;
  outline: $temporarily; /*временная рамка*/

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    padding: 61px 30px 0 0;
    background-image: none;
    background-color: $white;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    padding: 31px 30px 0 0;
    min-height: 656px;
  }
}

.promo__title {
  margin: 0 0 19px 0;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    margin: 0 0 33px 120px;
    width: 415px;
    color: $gray-darken;
    z-index: 15;

    @include subtitle-tablet();
  }
}

.promo__slogan {
  margin: 0 0 29px 0;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 0 0 29px 120px;
    font-size: 20px;
    line-height: 20px;
    z-index: 15;
    color: $gray-darken;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 53px 120px;
    font-size: 20px;
    line-height: 20px;
  }
}

.promo__image {
  margin: 0 0 3px 0;

  @media (min-width: $tablet-width) {
    margin: -80px 30px 0 30px;
    width: 709px;
    height: 499px;
    order: 2;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 130px;
    left: 408px;
    width: 552px;
  }
}

.promo__button {
  z-index: 15;

  @media (min-width: $tablet-width) {
    margin: 20px 0 0 120px;
    padding: 17px 20px 15px 20px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 0 120px;
    min-width: 245px;
    min-height: 52px;
    font-size: 20px;
    line-height: 20px;
  }
}
