// файл promo.scss
.promo {
  position: relative;
  padding: 29px 17px 22px 18px;
  font-family: $additional-font;
  text-align: center;
  color: $white;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-color: $white;
  background-repeat: no-repeat;
  background-size: 100%;

  @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
    background-size: 100%;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    padding: 61px 30px 0 0;
    background-image: none;
    background-color: $white;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    padding: 31px 30px 0 0;
    min-height: 656px;
    background-position: right;
  }

  &::before {
    width: 50vw;

    @media (min-width: $desktop-width) {
      content: "";
      position: absolute;
      margin-top: -95px;
      top: 0;
      right: 0;
      z-index: 10;
      height: 696px;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg");
    }
  }
}

.promo__title {
  margin: 0 0 19px 0;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    margin: 0 0 33px 120px;
    width: 415px;
    color: $gray-darken;
    z-index: 15;

    @include subtitle-tablet();
  }
}

.promo__slogan {
  margin: 0 0 29px 0;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 0 0 29px 120px;
    font-size: 20px;
    line-height: 20px;
    z-index: 15;
    color: $gray-darken;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 53px 120px;
    font-size: 20px;
    line-height: 20px;
  }
}

.promo__image {
  margin: 0 0 3px 0;

  @media (min-width: $tablet-width) {
    margin: 0 30px 0 30px;
    width: 709px;
    height: auto;
    order: 2;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 130px;
    left: 980px;
    width: 552px;
    height: auto;
    z-index: 10;
  }
}

.promo__button {
  z-index: 15;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 245px;
    margin: 20px 0 0 120px;
    padding: 17px 20px 15px 20px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 0 120px;
    min-width: 245px;
    min-height: 52px;
    font-size: 20px;
    line-height: 20px;
  }
}

.promo__wrapper {
  position: relative;
}
