.show-more {
  outline: $temporarily; /*временная рамка*/
}

.show-more__title {
  @include subtitle-production();
  text-transform: uppercase;
}

.show-more__text {
  font-size: 12px;
  line-height: 16px;
}
