.show-more {
  margin-top: 24px;
  outline: $temporarily; /*временная рамка*/

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.show-more__title {
  @include subtitle-production();
  text-transform: uppercase;
}

.show-more__text {
  font-size: 12px;
  line-height: 16px;
}
