.slider__list {
  @include nolist();

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.slider__item {
  width: 100%;
}

.slider__toggles {
  display: flex;
  justify-content: space-between;
}

.slider__toggle {
  margin: 0;
  padding: 0;
  font-family: $additional-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $gray-darken;
  border-style: none;
  background-color: $gray-light;
}

.slider__image {
  padding-right: 10px;
}
