.slider {
  margin-top: 72px;

  @media (min-width: $tablet-width) {
    margin-top: 170px;
    padding: 0;
    background: linear-gradient(to right, $gray-light 50%, $bg-example 50%);
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    height: 100%;
  }
}

.slider__images {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: flex-end;
    height: 384px;
    padding-left: 30px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    display: inline-block;
    margin-top: -100px;
    width: 100%;
    height: 384px;
    padding-left: 30px;
  }
}

.slider__images-wrap {
  @media (min-width: $desktop-width) {
    width: 50%;
    overflow: hidden;
    position: absolute;
    top: 0;

    &--fat {
      left: 0;
    }

    &--slim {
      right: 15px;
    }
  }
}

.slider__toggles {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding-left: 67px;
  padding-right: 69px;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    padding-left: 70px;
    padding-right: 95px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    position: absolute;
    margin-top: 150px;
  }
}

.slider__toggle {
  margin: 0;
  padding: 0;
  font-family: $additional-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $gray-darken;
  border-style: none;
  background-color: $gray-light;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 10px;
  }
}

.slider__image {
  width: 100%;

  @media (min-width: $tablet-width) {
    height: 517px;
  }

  &--fat {
    @media (min-width: $tablet-width) {
      margin: 0;
      padding: 75px 0 0 0;
    }
  }

  &--slim {
    @media (min-width: $tablet-width) {
      margin: 0;
      height: 517px;
    }
  }
}
