@mixin nolist() {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

@mixin subtitle () {
  font-family: $additional-font;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: $gray-darken;
}

@mixin subtitle-tablet () {
  font-family: $additional-font;
  font-size: 60px;
  line-height: 60px;
  font-weight: 400;
  color: $gray-darken;
}

@mixin subtitle-production () {
  margin: 0;
  font-family: $additional-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $gray-darken;
}
