@mixin indent($padding:0, $margin:0) {
  padding: $padding;
  margin: $margin;
}

@mixin nolist($padding:0, $margin:0,$list-style-type:none) {
  padding: $padding;
  margin: $margin;
  list-style-type: $list-style-type;
}
