body {
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  background-color: #ffffff;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@import "page-header.css";
@import "page-main.scss";
@import "promo.scss";
@import "button.scss";
@import "programs";
@import "benefits";
@import "page-footer";
@import "social";
@import "example";
