$white-30: rgba(255, 255, 255, 0.3); //цвет текста кнопки при нажатии
$black-30: rgba(17, 17, 17, 0.3); //цвет мини-заголовков при нажатии
$black-two-30: rgba(34, 34, 34, 0.3); //цвет активных радиобаттанов
$gray-30: rgba(68, 68, 68, 0.3); //цвет текста серой кнопки при нажатии
$gray-darken: #111111; // заголовки
$gray-darkest: #222222; // заголовки в каталоге
$gray-light: #f2f2f2; //цвет дополнительного фона (футер и инфоблок)
$gray: #444444; //цвет контента
$bg-example: #eaeaea;
$gray-lighten: #ebebeb; //фон серых кнопок при наведении и нажатии
$pinkish-gray: #cdcdcd; //цвет инпутов
$brownish-gray: #666666; //цвет соц. иконок

$white: #ffffff; //основной белый цвет фона и заголовков
$apple: #68b738; //акцентный зеленый цвет
$grass: #5eaa2f; //цвет зеленых кнопок при наведении
$input-error: #ff8282; //цвет инпутов при ошибке

$temporarily: 2px solid red;
$border-gray: 1px solid $pinkish-gray;

$additional-font: "Oswald", "Arial", sans-serif;


$tablet-width: 768px;
$desktop-width: 1300px;
$retina-dppx: 1.5dppx;
