$gray: #111111; // заголовки
$gray-lighten: #f2f2f2; //цвет дополнительного фона
$gray-light: #444444; //цвет контента

$white: #ffffff; //основной белый цвет фона и заголовков
$apple: #68b738; //акцентный зеленый цвет


$temporarily: 2px solid red;
$additional-font: "Oswald", "Arial", sans-serif;
